{% extends "base.html" %}
{% load  static %}


{% block content %}
<div class="container">
    <h1>Отчёт</h1>
    {% for report in reports %}
    <div style="margin-bottom:2rem;" class="card">
        <div class="card-header">
            <h7 class="card-title">Дата: {{report.created}}</h7>
        </div>
        <div class="card-header">
            <h5 class="card-title">Мойщик:</h5> {{report.title}}
        </div>
        <div class="card-header">
            <h5 class="card-title">Модель машины:</h5> {{report.model_car}}
        </div>
        <div class="card-header">
            <h5 class="card-title">Номер машины: </h5>{{report.number_car}}
        </div>
        <div class="card-header">
            <h5 class="card-title">Вид услуги: </h5>{{report.service}}
        </div>
        <div class="card-header">
            <h5 class="card-title">Сумма: {{report.sum}}</h5>
        </div>

     </div>
    {% endfor %}

{% endblock %}

